.searchForm {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.label {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.searchText {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.searchField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}
