.link {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: all, 0.3s;
}

.link:hover {
  text-decoration: overline;
}

.linkActive {
  color: #79a4d2;
}
