.logOutBtn {
  margin-right: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #0c0c0c;
  background-color: #cbe3fe;
  border: 0.5px solid hwb(211 62% 8% / 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logOutBtn:hover {
  background-color: #79a4d2;
}
